@{
    ViewData["Title"] = "Home Page";
}

<div >
    <div class="content">
        <div class="gg-container">
            <div class="gg-box dark" id="gg-box">
                @*<img id="0" class="card img-fluid card" style="gap:20px;"
                    src="https://www.investopedia.com/thmb/WCvv5K4z_ZiJ3yWL93Wylkc8bc0=/680x476/filters:fill(auto,1)/AdobeStock_80974696-5c921e8f46e0fb0001f8d140.jpeg">
                    <img id="1" class="card img-fluid card-tall"
                    src="https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6">
                    <img id="2" class="card img-fluid card-tall"
                    src="https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg">
                    <img id="3" class="card img-fluid card-tall" style="height: 95%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU">
                    <img id="4" class="card img-fluid card-tall"
                    src="http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg">
                    <img id="5" class="card img-fluid"
                    src="https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp">
                    <img id="6" class="card img-fluid card-tall"
                    src="http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg">
                    <img id="7" class="card img-fluid card-tall"
                    src="https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp">
                    <img id="8" class="card img-fluid"
                    src="https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg">
                    <img id="9" class="card img-fluid card-tall" style="height: 95%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU">
                    <img id="10" class="card img-fluid card-tall"
                    src="https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6">
                    <img id="0" class="card img-fluid card" style="gap:20px;"
                    src="https://www.investopedia.com/thmb/WCvv5K4z_ZiJ3yWL93Wylkc8bc0=/680x476/filters:fill(auto,1)/AdobeStock_80974696-5c921e8f46e0fb0001f8d140.jpeg">
                    <img id="1" class="card img-fluid card-tall"
                    src="https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6">
                    <img id="2" class="card img-fluid card-tall"
                    src="https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg">
                    <img id="3" class="card img-fluid card-tall" style="height: 95%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU">
                    <img id="4" class="card img-fluid card-tall"
                    src="http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg">
                    <img id="5" class="card img-fluid"
                    src="https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp">
                    <img id="6" class="card img-fluid card-tall"
                    src="http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg">
                    <img id="7" class="card img-fluid card-tall"
                    src="https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp">
                    <img id="8" class="card img-fluid"
                    src="https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg">
                    <img id="9" class="card img-fluid card-tall" style="height: 95%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU">
                    <img id="10" class="card img-fluid card-tall"
                    src="https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6">
                *@
            </div>
        </div>
    </div>



    @* <div class="photo-grid lightgallery">

        <div class="card" style="background-image:url('https://picsum.photos/600/200')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/600/200')">
        &nbsp;
        </div>
        <div class="card card-tall" style="background-image:url('https://picsum.photos/300/500')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/600/200')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/300/400')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/500/200')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/300/400')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/500/200')">
        &nbsp;
        </div>
        <div class="card card-tall" style="background-image:url('https://picsum.photos/300/300')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/400/200')">
        &nbsp;
        </div>
        <div class="card card-wide" style="background-image:url('https://picsum.photos/300/100')">
        &nbsp;
        </div>
        <div class="card" style="background-image:url('https://picsum.photos/200/200')">
        &nbsp;
        </div>
        </div> *@

    @* <div class="d-none d-xs-none d-sm-none d-md-none d-lg-flex d-xl-flex" style="width: 100%">
        @Html.Partial("/Views/Shared/_GalleryLarge.cshtml")
        </div>


        <div class="d-none d-xs-none d-sm-none d-md-flex d-lg-none d-xl-none">
        @Html.Partial("/Views/Shared/_GalleryMedium.cshtml")
        </div>


        <div class="d-none d-xs-none d-sm-flex d-md-none d-lg-none d-xl-none">
        @Html.Partial("/Views/Shared/_GallerySmall.cshtml")
        </div>


        <div class="d-xs-flex d-sm-none d-md-none d-lg-none d-xl-none">
        @Html.Partial("/Views/Shared/_GalleryXtraSmall.cshtml")
        </div> *@




</div>

<style>
    
    .placeholder {
        width: 100%;
        height: 80%;
        padding-bottom: 250px;
    }

    .placeholder:hover {
        cursor: default;
    }

    .row {
        margin-bottom: -20px;
    }

    .photo-grid {
        display: grid;
        gap: 1rem;

    }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        font-size: 3rem;
        color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        transition: all 500ms;
        overflow: hidden;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-row: span 2 / auto;
    }

    .card:hover {
        transform: translateY(-3px) scale(1.02);
    }

    .content{
        margin-top: 20%; 
    }

    @@media only screen and (max-width: 576px) {
        body {
            background-color: red;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr;
        }
        .content{
        margin-top: 35%; 
    }
    }

    @@media only screen and (min-width: 577px) {
        body {
            background-color: purple;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .content{
        margin-top: 25%; 
    }
    }

    @@media only screen and (min-width: 768px) {
        body {
            background-color: orange;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .content{
        margin-top: 25%; 
    }
    }

    @@media only screen and (min-width: 992px) {
        body {
            background-color: yellow;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .content{
        margin-top: 25%; 
    }
    }

    @@media only screen and (min-width: 1200px) {
        body {
            background-color: green;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .content{
        margin-top: 20%; 
    }
    }

    @@media only screen and (min-width: 1400px) {
        body {
            background-color: blue;
        }

        .photo-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>



<script>


    let ggBox = document.getElementById('gg-box')

    for (let i = 0; i < 30; i++) {
        let img = document.createElement('img')
        img.src = getImage();
        if(i % 5 == 0){
            img.className = "card img-fluid"
        }else{
            img.className = "card card-tall img-fluid"
        }

        i % 3 ? img.style.height = "95%" : null;
        
        ggBox.appendChild(img);
    }

    function getImage() {
        let images = ["https://www.investopedia.com/thmb/WCvv5K4z_ZiJ3yWL93Wylkc8bc0=/680x476/filters:fill(auto,1)/AdobeStock_80974696-5c921e8f46e0fb0001f8d140.jpeg",
            "https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6",
            "https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg",
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU",
            "http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg",
            "https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp",
            "http://img95.699pic.com/photo/40064/1061.jpg_wh300.jpg",
            "https://m1.aboluowang.com/uploadfile/2019/1213/20191213095316357.webp",
            "https://www.huameiwang.es/wp-content/uploads/2018/11/maxresdefault.jpg",
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvHqAxwQuf1iPrOBwEqwXJOb0pu9Kssm9oQpp9b9GR-2V8cwcUQ5Ndnb8TAuSqGYezkSw&usqp=CAU",
            "https://us.123rf.com/450wm/forplayday/forplayday1601/forplayday160100027/50430104-high-resolution-images-presents-creating-planets-of-the-solar-system-.jpg?ver=6"]

        let num = Math.floor(Math.random() * images.length);
        let src = images[num]

        return src;
    }

</script>

